.type-btn{
    border: 1px solid  #7E90FE;
    padding: 3px 5px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 5px;

}
/* .btn-link a{
    text-decoration:none;
    color: #333;
} */
.type-btn:hover{
    background-color: #7E90FE;
    color: white;
    transition: 0.3s;
}